<!DOCTYPE html>
<html>
<head>
  <title>Wishlister</title>
</head>
<body>
<div class="button_login">
  <%= link_to @authorize_url do %>
    <button type="button" class="btn btn-info">Entrar com Foursquare</button>
  <% end %>
</div>
</body>
</html>
